!!!
%html{ lang: "en_gb"}
  %head
    %meta{ charset: "utf-8"}/
    %title
      Custom browser startpage
    %meta{ content: "Custom browser startpage", name: "description"}/
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{ content: "on", "http-equiv" => "cleartype"}/
    %link{ href: "./assets/css/main.min.css", rel: "stylesheet"}/
  %body
    .container
      %section.links
        %ul
          %li
            %a{ href: "https://www.reddit.com/r/programming" } r/programming 
          %li
            %a{ href: "https://www.reddit.com/r/linux" } r/linux 
          %li
            %a{ href: "https://www.reddit.com/r/android" } r/android 
          %li
            %a{ href: "https://www.reddit.com/r/fedora" } r/fedora
        %ul
          %li
            %a{ href: "http://fedoramagazine.org/" } fedora magazine

